{% extends 'base.html' %}


{%block contenido %}

<style>
  .panel-heading a{color:white;}

</style>

<div class="row well">
  {% for animal in animales %}
  <div class="col-md-3 well">
    <div class="panel panel-primary">
      <div class="panel-heading"><a href="/detalle_adopcion/{{animal.id}}/{{animal.nombreAdopcion}}"><h3><strong>{{animal.nombreAdopcion}}</strong></h3></a></div>
      <div class="panel-body">
          <img src="/media/{{animal.imagenDestacadaAdopcion}}" alt="{{animal.nombreAdopcion}}" width="200" height="300" class="img-rounded">
          <p>
            <a href="#" class="btn btn-primary" role="button">Adoptar!</a>
            <a href="#" class="btn btn-default" role="button">Apadrinar!</a>
          </p>
      </div>
    </div>

  </div>
  {% endfor %}
</div>




{% endblock %}
