{% extends 'base.html' %}

{% block contenido %}


<div class="container">
  <h1><strong>Felizmente Adoptados</strong></h1>
{% if adoptados %}
  <div class="row well">
    {% for adoptado in adoptados%}
    <div class="col-md-3 well">
      <div class="panel panel-primary">
        <div class="panel-heading"><a href="/detalle_adopcion/{{adoptado.id}}/{{adoptado.nombreAdopcion}}"><h3><strong>{{adoptado.nombreAdopcion}}</strong></h3></a></div>
        <div class="panel-body">
          <img src="/media/{{adoptado.imagenDestacadaAdopcion}}" alt="{{adoptado.nombreAdopcion}}" width="200" height="300">
        </div>
      </div>
    </div>
  {% endfor %}

</div>
{% else %}
<h4>Lastimosamente no se ha adoptado ninguna mascota <i class="material-icons">sentiment_very_dissatisfied</i></h4>
{% endif %}
</div>

{% endblock %}
