{% extends 'base.html' %}

{% block contenido %}
<div class="container">
  <h1>Historial Eventos</h1>
</div>

<div class="container">
{% if historial_eventos %}
  {% for historial in historial_eventos %}
  <ul class="media-list">
    <li class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="/media/{{historial.imagenEvento}}" alt="{{evento.nombreEvento}}" height="300" width="300">
        </a>
      </div>
      <div class="media-body">
        <a href="/detalle_evento/{{historial.id}}/{{historial.nombreEvento}}"><h2 class="media-heading"><strong>{{historial.nombreEvento}}</strong></h2></a>
        <h5><strong>Fecha del Evento:</strong> {{hitorial.fechaEvento}} </h5>
        <h5><strong>Lugar del Evento:</strong> {{historial.lugarEvento}} </h5>
        <span>Publicado el {{historial.fechaPubEvento}} por {{historial.id_User}}</span>
      </div>
    </li>
  </ul>
  {% endfor %}
{% else %}
<h4>No hay historial de eventos para mostrar</h4>
{% endif %}
</div>


{% endblock %}
