{% extends 'base.html' %}

{% block contenido %}
<div class="container">
  <h1>De que se Trata el Proyecto Comedog?</h1>
<br><br>
  <h4>Nuestra visión es lograr dignificar a los animales en condicion de calle!!!. Ellos son parte de la sociedad y debemos ser responsables por contribuir a su bienestar, frenar la super población y reproducción indiscriminada de los mismos.</h4>
  <h4>Somos concientes que el problema radica en la tenencia irresponsable de animales de compañia.</h4>
  <h4>Por ahora somos un grupo de personas particulares, sin ánimo de luco, con un objetivo común, pero todo esto encarcado en la generacion de comasión a la comunidad y sensibilización acerca de la tenencia responsable de animales de comañia, ya que esta es a fuente principal de los perros y gatos en condicioón de calle!</h4>
  <h4>Por eso concebimos el Proyecto como integral, involucrando casi todos los aspectos claves para poder general el impacto adecuado en la problematica. Estamos seguros que si ustedes se suman a la causa desde cada una de sus regiones....¡podemos hacer oir y sentir la voz de os que no tienen!</h4>

</div>
{% endblock %}
