{% extends 'base.html' %}

{% block contenido %}
<div class="card-panel white">
    <h1><strong>Nosotros</strong></h1>
    <h5>Somos un programa a largo plazo en el que buscamos fomentar la adopción responsable de perritos rescatados del abandono.</h5>
    <h5>Nosotros amamos a los perros y queremos que todos tengan un hogar lleno de amor. Lo que buscamos es incentivar la adopción mediante una cultura de tenencia responsable.</h5>
    <h5>El objetivo es apoyar las campañas de concientización y sensibilizar a los posibles dueños (adoptantes) y a los actuales tenedores de animales de compañía mediante la divulgación de los principios para la tenencia responsable.</h5>


</div>



{% endblock %}
