{% extends 'base.html' %}

{% block contenido %}
<div class="container">
  <h1><strong>Plan Padrino Comedog</strong></h1>
  <h2>Puedes ser miembro activo del programa de padrinos de las siguientes formas:</h2>
  <ol>
    <li><h3><strong>Apadrinando un Comedog.</strong></h3> <p>Busca el sitio adecuado y nosotros te asesoramosen el proceso</p></li>
    <li><h3><strong>Alimento.</strong></h3><p>Ayudándonos con alimento para surtir los ComeDog's. </p></li>
    <li><h3><strong>Adopta.</strong></h3><p>Adoptando un peludo y/o promoviendo la adopción de los mismos.</p></li>
    <li><h3><strong>Esteriliza.</strong></h3><p>Apadrina la esterilización de un perro y/o gato en condición de calle.</p></li>
    <li><h3><strong>Corre la Voz.</strong></h3><p>Sensibilizando a las personas de tu nucleo familiar y de amigos acerca de nuestro proyecto.</p></li>
  </ol>
</div>

{% endblock%}
